!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/soria/soria.css')
    script(src='http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js', type='text/javascript', djConfig="parseOnLoad: true")
    style(type="text/css")
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojox/layout/resources/GridContainer.css";
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojox/widget/Portlet/Portlet.css";
  body(class='soria')!= body
